:root {
    --blueberry-color:  #6b7a8f;
    --apricot-color:    #f7882f;
    --citrus-color:     #f7c331;
    --apple_core-color: #dcc7aa;
}

body {
    color: white;
    background-color: var(--apricot-color);
}
.encabezado-font {
	font-family: 'Dancing Script', cursive;
}
.citafondo {	
	background-color: var(--apple_core-color);
	padding: 30px 15px 30px 15px;	
	margin-top: 10px;
	margin-bottom: 10px;
}
#cita {
	color: var(--blueberry-color);
	font-family: 'Calligraffitti', cursive;
	font-weight: bold;
	font-size: 2.5em;
}
#autor {
	font-family: 'Dancing Script', cursive;
	color: black;
}